
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.frampton-video {
  position: fixed;
  display: block;
  left: 0; top: 0; width: 100%; height: 100%;
}

.transparent {
  opacity: 0;

  -o-transition: opacity 800ms;
  -moz-transition: opacity 800ms;
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
}

.red { color: rgb(255, 0, 0); }
.orange { color: orange; }
.yellow { color: yellow; }
.green { color: rgb(0, 255, 0); }
.blue { color: rgb(0, 0, 255); }
.indigo { color: indigo; }
.violet { color: violet; }

.red-background { background-color: rgb(255, 0, 0); }
.orange-background { background-color: orange; }
.yellow-background { background-color: yellow; }
.green-background { background-color: rgb(0, 255, 0); }
.blue-background { background-color: rgb(0, 0, 255); }
.indigo-background { background-color: indigo; }
.violet-background { background-color: violet; }

/**
 * HOME
 */

.art-title {
  position: absolute;
  left: 15px; top: 15px;
  font-family: "Times New Roman", serif;
  font-size: 22px;
}

.color-wrapper {
  position: absolute;
  left: 50%; margin-left: -534px; width: 1068px;
  top: 100px;
}

.color-link {
  float: left;
  margin: 0; padding: 0;
  width: 152.5px; height: 458px;
}

.link-title {
  font-family: "Roboto Mono", monospace;
  font-size: 72px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.about {
  position: fixed; bottom: 12px; right: 12px;
  font-family: "Helvetica", sans-serif;
}

.artist {
  color: rgba(0, 0, 0, 0.9);
  font-size: 24px;
  margin-bottom: 8px;
}

.friends {
  max-width: 350px;
  font-size: 14px; line-height: 1.25;
}

.friends a, .artist a {
  color: inherit;
  text-decoration: underline;

  -o-transition: all 400ms;
  -moz-transition: all 400ms;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
  .friends a:hover, .friends a:focus, .artist a:hover, .artist a:focus {
    color: rgb(17, 33, 255);
  }

.social {
  position: absolute; top: 12px; right: 12px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  z-index: 100000001;
}
  .social-button {
    padding: 5px;
    text-align: right;
  }

/**
 * VIDEO
 */

.film-title {
  position: fixed;
  left: 40px; top: 40px;

  font-family: "Times New Roman", serif;
  font-size: 40px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.rate-control {
  position: fixed;
  left: 50%; width: 400px; margin-left: -200px;
  bottom: 120px;
  z-index: 1;
}

.playback-rate {
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 64px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.loading-indicator {
  position: fixed;
  left: 50%; width: 300px; margin-left: -150px;
  top: 50%; height: 300px; margin-top: -150px;
  border-radius: 150px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 21px;
  text-align: center;
  line-height: 300px;
  box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  z-index: 1;

  -o-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

/* cool tool http://danielstern.ca/range.css/#/ */
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 1px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 2px;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 2.7px 2.7px 4.1px rgba(255, 255, 255, 0.7), 0px 0px 2.7px rgba(255, 255, 255, 0.7);
  height: 20px;
  width: 19px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 2px;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 2.7px 2.7px 4.1px rgba(255, 255, 255, 0.7), 0px 0px 2.7px rgba(255, 255, 255, 0.7);
  height: 20px;
  width: 19px;
  border-radius: 2px;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #ffffff;
  border-radius: 4px;
}
input[type=range].slider::-ms-fill-upper {
  background: #ffffff;
  border-radius: 4px;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 2.7px 2.7px 4.1px rgba(255, 255, 255, 0.7), 0px 0px 2.7px rgba(255, 255, 255, 0.7);
  height: 20px;
  width: 19px;
  border-radius: 2px;
  cursor: pointer;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type=range].red::-webkit-slider-thumb { background: rgba(255, 0, 0, 0.93); }
input[type=range].red::-moz-range-thumb { background: rgba(255, 0, 0, 0.93); }
input[type=range].red::-ms-thumb { background: rgba(255, 0, 0, 0.93); }

input[type=range].orange::-webkit-slider-thumb { background: rgba(255, 160, 0, 0.93); }
input[type=range].orange::-moz-range-thumb { background: rgba(255, 160, 0, 0.93); }
input[type=range].orange::-ms-thumb { background: rgba(255, 160, 0, 0.93); }

input[type=range].yellow::-webkit-slider-thumb { background: rgba(255, 255, 0, 0.93); }
input[type=range].yellow::-moz-range-thumb { background: rgba(255, 255, 0, 0.93); }
input[type=range].yellow::-ms-thumb { background: rgba(255, 255, 0, 0.93); }

input[type=range].green::-webkit-slider-thumb { background: rgba(0, 255, 0, 0.93); }
input[type=range].green::-moz-range-thumb { background: rgba(0, 255, 0, 0.93); }
input[type=range].green::-ms-thumb { background: rgba(0, 255, 0, 0.93); }

input[type=range].blue::-webkit-slider-thumb { background: rgba(0, 0, 255, 0.93); }
input[type=range].blue::-moz-range-thumb { background: rgba(0, 0, 255, 0.93); }
input[type=range].blue::-ms-thumb { background: rgba(0, 0, 255, 0.93); }

input[type=range].indigo::-webkit-slider-thumb { background: rgba(75, 0, 130, 0.93); }
input[type=range].indigo::-moz-range-thumb { background: rgba(75, 0, 130, 0.93); }
input[type=range].indigo::-ms-thumb { background: rgba(75, 0, 130, 0.93); }

input[type=range].violet::-webkit-slider-thumb { background: rgba(238, 90, 238, 0.93); }
input[type=range].violet::-moz-range-thumb { background: rgba(238, 90, 238, 0.93); }
input[type=range].violet::-ms-thumb { background: rgba(238, 90, 238, 0.93); }
