
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.frampton-video {
  position: fixed;
  display: block;
  left: 0; top: 0; width: 100%; height: 100%;
}

.transparent {
  opacity: 0;
}

.red { color: red; }
.orange { color: orange; }
.yellow { color: yellow; }
.green { color: green; }
.blue { color: blue; }
.indigo { color: indigo; }
.violet { color: violet; }

.film-title {
  position: fixed;
  left: 0; width: 100%; text-align: center;
  top: 20%;

  font-family: "Times New Roman", serif;
  font-size: 72px;

  -o-transition: opacity 800ms;
  -moz-transition: opacity 800ms;
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
}

.rate-control {
  position: fixed;
  left: 50%; width: 400px; margin-left: -200px;
  bottom: 120px;
  z-index: 1;
}

.playback-rate {
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 64px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* cool tool http://danielstern.ca/range.css/#/ */
input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 1px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #ffffad;
  border-radius: 2px;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 2.7px 2.7px 4.1px rgba(255, 165, 165, 0.7), 0px 0px 2.7px rgba(255, 191, 191, 0.7);
  height: 20px;
  width: 19px;
  border-radius: 2px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #ffffad;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: #ffffad;
  border-radius: 2px;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 2.7px 2.7px 4.1px rgba(255, 165, 165, 0.7), 0px 0px 2.7px rgba(255, 191, 191, 0.7);
  height: 20px;
  width: 19px;
  border-radius: 2px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 18px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #ffffad;
  border-radius: 4px;
}
input[type=range].slider::-ms-fill-upper {
  background: #ffffad;
  border-radius: 4px;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 2.7px 2.7px 4.1px rgba(255, 165, 165, 0.7), 0px 0px 2.7px rgba(255, 191, 191, 0.7);
  height: 20px;
  width: 19px;
  border-radius: 2px;
  background: rgba(255, 67, 95, 0.93);
  cursor: pointer;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #ffffad;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #ffffad;
}
