<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" type="image/png" href="/media/favicon.png?v=1">
  <title>Films By Color — Carmichael Payamps</title>

  <meta name="description" content="Films by Color is a cornucopia of films converted into color streams" />
  <meta name="author" content="Carmichael Payamps">
  <meta name="keywords" content="Carmichael Payamps, Films by Color, video, media">

  <meta property="og:title" content="Films By Color - Carmichael Payamps" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="Films by Color is a cornucopia of films converted into color streams" />
  <meta property="og:url" content="/" />

  <meta property="fb:admins" content="100000919641751" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@LIMP__BISCUIT" />
  <meta name="twitter:creator" content="@LIMP__BISCUIT" />
</head>
<body>

  <div class="rate-control">
    <input id="rate-input" type="range" class="slider" />
    <div class="playback-rate">1.0x</div>
  </div>

  <script src="js/build.js"></script>
</body>
</html>
